@import "reset.less";
@import "var.less";
@import "typography.less";

@import "../fonts/roboto_light_macroman/stylesheet.css";
@import "../fonts/roboto_regular_macroman/stylesheet.css";
@import "../fonts/roboto_bold_macroman/stylesheet.css";




/* =========================================================================================

GLOBAL

========================================================================================= */
body, html {
  	//height: 100%;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    //text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

html	{
	
}
body	{
	color:@bodyColor;
	font-size:@bodyFontSize;
	font-family:@bodyFamily; 
	font-weight: 300;
	line-height:1.6;
	//background:url(../img/backgrounds/zwartevilt.png) top right repeat #1b1b1b;
	background: #f5f5f5;  
}


* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
  	box-sizing: border-box;         /* Opera/IE 8+ */
}

.wrapper {
	margin: 0 auto;
	height: inherit;
	
}
	
	.nav {
		.boxShadow (0 3px 10px -4px rgba(0,0,0,0.25));
		//background: #fff;
		background: rgba(245,245,245,0.97);
		//background: rgba(20,20,20,0.97);
		position:fixed;
		height:@navHeight;
		width:100%;
		text-align:center;
		padding: 6px 0 0;
		z-index: 99;
		span {
			color: #3a3a3a;
			//color: #f5f5f5;
			font-size: 26px;
			display: block;
		}
	}
	
	.mainContent {
		width: @siteWidthWide;
		padding: 0 0 0;
		margin: 0 auto;
		//border-right: 1px solid #f00;
		//border-left: 1px solid #000;
		//background: #fff;
		height: inherit;
	}

		@workTall:	700px;
		@workMed:	400px;
		@workSml:	300px;

		.work {
			.transition(.2s);
			float:left;
			display:block;
			overflow: hidden;
			
			&:hover {
				//opacity: .9;	
			}
			
			.title {
				.boxShadow (0 -3px 10px rgba(0, 0, 0, 0.25));
				position:absolute;
				bottom: 0;
				padding: 12px 15px;
				background: rgba(255,255,255,0.9);
				//background: rgba(20,20,20,0.97);
				width: 100%;
				h2 {
					margin: 0;
				}
				h3 {
					margin: 0;
					color: #5a5a5a;
					font-family: @bodyFamily;
					font-size: @bodyFontSize + 2;
				}
				h5 {
					margin: 0;
					color: #999;
					font-family: @bodyFamily;
					font-size:@bodyFontSize + 2;
				}
			}
			// end Title
			
			&.burberryWorld {
				background: url('../img/work/BW_0.1_Background.jpg');
				background-size: cover;
				background-position: center center;
				height:@workTall;
				position: relative;
				width: 100%;
				overflow: hidden;
				.phone {
					//background: rgba (0,0,0,0.5;);
					//height: 200px;
					//width: 120px;
				}
				#scene {
					//margin: 0 auto;
					padding: 200px 0 0;
					overflow: hidden;
					height: 150%;
					width: 150%;
					position: absolute;
					top: -150px;
					left: -150px;
					.layer {
						&.cover {
							background: url('../img/work/BW_0.3_Cover.png');
							background-size: cover;
							background-position: center center;
						}
					}
					.layer:nth-child(1) {
					  opacity: 1;
					}
					.layer:nth-child(2) {
					  opacity: 0.30; 
					}
				}
				
			}
			// end Burberry World
			
			&.printemps {
				background: url(../img/printemps/grid.png);
				background-size:auto;
				background-position: center center;
				height:@workMed;
				position: relative;
				width: 50%;
			}
			// end Printemps
			
			&.kraken {
				background: @kraken;
				background-size: cover;
				background-position: center center;
				height:@workMed;
				position: relative;
				width: 50%;
			}
			// end Kraken
			
			&.LTKD {
				background: @red;
				background-size: cover;
				background-position: center center;
				height:@workSml;
				position: relative;
				width: 60%;
			}
			// end LTKD
			
			&.boneman {
				background: @purple;
				background-size: cover;
				background-position: center center;
				height:@workSml;
				position: relative;
				width: 40%;
			}
			// end Boneman
			
			&.mrsite {
				background: @teal;
				background-size: cover;
				background-position: center center;
				height:@workSml;
				position: relative;
				width: 60%;
			}
			// end Mr Site
			
			&.mrsite2 {
				background: @mint;
				background-size: cover;
				background-position: center center;
				height:@workSml;
				position: relative;
				width: 40%;
			}
			// end Mr Site
			
		}
		// end work

	/* ------------------------------------------------
	
	About
	
	------------------------------------------------ */	
				
	.aboutWrapper {
		float: left;
		position: relative;
	}
		.selfie {
			width: 25%;
			//background: #ddd;
			position: absolute;
			left: 0;
			bottom: 0;
			top: 0;
			background: url('../img/passport.jpg');
			background-size: cover;
			background-position: center;
		}
		.about {
			width: 75%;
			float: right;
			//background: #1b1b1b;
			//background: #e9e9e9;
			padding: 20px;
		}
	
	//
	.social {
		height: 44px;
		width: 25%;
		float: left;
		padding: 8px 0 0;
		text-align: center;
		.transition(.4s linear all);
		
		&.twitter {
			background: #00aaef;
			color: #f5f5f5;
			&:hover {
				opacity: 0.8;
			}
		}
		&.linkedin {
			background: #14779d;
			color: #f5f5f5;
			&:hover {
				opacity: 0.8;
			}
		}
		&.github {
			background: #1b1b1b;
			color: #f5f5f5;
			&:hover {
				opacity: 0.8;
			}
		}
		&.soundcloud {
			background: #ffa600;
			background: -moz-linear-gradient(top, #ffa600 0%, #ff8100 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa600), color-stop(100%,#ff8100));
			background: -webkit-linear-gradient(top, #ffa600 0%,#ff8100 100%);
			background: -o-linear-gradient(top, #ffa600 0%,#ff8100 100%);
			background: -ms-linear-gradient(top, #ffa600 0%,#ff8100 100%);
			background: linear-gradient(to bottom, #ffa600 0%,#ff8100 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa600', endColorstr='#ff8100',GradientType=0 );
			color: #3a3a3a;
			&:hover {
				opacity: 0.8;
			}
		}
	}
	
	
	
	
	.footer {
		width: 100%;
		float: left;
		padding: 15px 15px 0;
	}
		
/* =========================================================================================

Desktop

========================================================================================= */
@media screen and (min-device-width: 1025px) and (max-width: 1380px) {
	.mainContent {
		width:@siteWidthFull;
	}
}

/* =========================================================================================

Tablet

========================================================================================= */
@media screen and (min-device-width: 720px) and (max-width: 1024px) {
	.mainContent {
		width:100%;
	}	
}

/* =========================================================================================

Mobile

========================================================================================= */
@media screen and (max-width: 719px) {
	.nav {
		height: 44px;
		padding:7px 0 0;
		span {
			font-size: 20px;
		}
	}
	
	.mainContent {
		padding:44px 0 0;
	}		
		.work {
			.title {
				padding: 12px 15px;
				text-align: center;
				h2 {
					font-size:@bodyFontSize + 10;
				}
				h3, h5 {
					font-size: @bodyFontSize;
				}
			}
			&.burberryWorld {
				height:480px - 44px;
			}
			&.printemps, &.kraken, &.LTKD, &.boneman, &.mrsite, &.mrsite2 {
				width: 100%;
			}
			&.printemps {
				height:450px;
			}
		}
		
		.aboutWrapper {
			width: 100%;
			.selfie {
				position: relative;
				width:100%;
				height:300px;
				//background-position-y: -80px;
			}
			.about {
				width:100%;
				border-bottom: 2px solid #e9e9e9;
			}
		}
		
		.social {
			width: 50%;
			//height: 34px;
			//padding: 0;	
			background: none!important;
			&.twitter,
			&.linkedin,
			&.github,
			&.soundcloud {
				color: @linkColor;
			}
		}

}





