@import "reset.less";
@import "var.less";
@import "typography.less";

@import "../fonts/roboto_light_macroman/stylesheet.css";
@import "../fonts/roboto_regular_macroman/stylesheet.css";
@import "../fonts/roboto_bold_macroman/stylesheet.css";
@import "../fonts/roboto_medium_macroman/stylesheet.css";
@import "../fonts/yesterdaysmeal_regular_macroman/stylesheet.css";

/* =========================================================================================

GLOBAL

========================================================================================= */
body, html {
  	//height: 100%;
}

html, html a {
    -webkit-font-smoothing: antialiased;
}

html	{
	
}
body	{
	color:@bodyColor;
	font-size:@bodyFontSize;
	font-family:@bodyFamily; 
	font-weight: 300;
	line-height:1.6;
	background: #f5f5f5;  
}


* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
  	box-sizing: border-box;         /* Opera/IE 8+ */
}

.wrapper {
	margin: 0 auto;
	height: inherit;
	
}
	
	.nav {
		.boxShadow (0 3px 10px -4px rgba(0,0,0,0.25));
		.noSelect;
		cursor: default;
		//background: rgba(245,245,245,0.97);
		background: #fff;
		position:fixed;
		height:@navHeight;
		width:100%;
		font-family: @logo;
		padding: 6px 0 0;
		z-index: 99;
	}
		.navInner {
			//width: @siteWidthWide;
			margin: 0 auto;
			padding:0 15px;
			.mainTitle {
				color: #3a3a3a;
				font-family: @logo;
				font-size: 26px;
				display: block;
				float: left;
				strong {
					//font-family: @bodyFamily;
				}
			}
			.socialLinks {
				list-style: none;
				float: right;
				li {
					float: left;
					padding: 5px 0 0 15px;
				}
			}
		}
	
	.mainContent {
		width: @siteWidthWide;
		padding: 0 0 0;
		margin: 0 auto;
		height: inherit;
	}

		@workTall:	700px;
		@workMed:	400px;
		@workSml:	300px;

		.work {
			.transition(.2s);
			float:left;
			display:block;
			overflow: hidden;
			padding: 0;
			
			&:hover {
				//opacity: .9;	
			}
			
			.title {
				.boxShadow (0 -3px 10px rgba(50, 50, 50, 0.05));
				position:absolute;
				bottom: 0;
				padding: 12px 15px 15px;
				background: rgba(255,255,255,0.95);
				width: 100%;
				z-index: 10;
				h2 {
					margin: 0;
				}
				h3 {
					margin: 0;
					color: #5a5a5a;
					font-family: @bodyFamily;
					font-size: @bodyFontSize + 2;
				}
				h5 {
					margin: 0;
					color: #999;
					font-family: @bodyFamily;
					font-size:@bodyFontSize + 2;
				}
			}
			// end Title			
			
		}
		// end work
		
/* =========================================================================================

Desktop

========================================================================================= */
@media screen and (min-device-width: 1025px) and (max-width: 1380px) {
	
}

/* =========================================================================================

Tablet

========================================================================================= */
@media screen and (min-width: 720px) and (max-width: 1024px) {
		
}

/* =========================================================================================

Mobile

========================================================================================= */
@media screen and (max-width: 719px) {
	
}





